<div class="flex min-h-screen flex-col">
  <div
    class="flex h-header-height items-center border-b border-gray-200 px-4 text-3xl"
  >
    RxJs Playground
  </div>
  <div class="flex flex-grow">
    <div class="flex flex-col gap-4 border-r border-gray-200 p-4">
      @for (link of sidebarLinks; track link.route) {
        <a
          mat-flat-button
          class="relative whitespace-nowrap !capitalize"
          [routerLink]="link.route"
          [routerLinkActive]="
            'before:absolute before:-right-4 before:border-[10px] before:border-l-0 before:border-transparent before:border-r-pink-700'
          "
        >
          {{ link.label }}
        </a>
      }
    </div>
    <div class="container mx-auto flex-grow p-4">
      <router-outlet />
    </div>
  </div>
</div>
