<div class="flex min-h-screen flex-col">
  <div
    class="h-header-height flex items-center border-b border-gray-200 px-4 text-3xl"
  >
    RxJs Playground
  </div>
  <div class="flex flex-grow gap-4">
    <div class="flex flex-col gap-4 border-r border-gray-200 p-4">
      @for (link of sidebarLinks; track link.route) {
        <a
          mat-flat-button
          class="whitespace-nowrap !capitalize"
          [routerLink]="link.route"
        >
          {{ link.label }}
        </a>
      }
    </div>
    <div class="container mx-auto flex-grow p-4">
      <router-outlet />
    </div>
  </div>
</div>
